# LLM APIs
anthropic
aider-chat
backoff
openai
# Viz
matplotlib
pypdf
pymupdf4llm
# Common Requirements
torch
numpy
transformers
datasets
tiktoken
wandb
tqdm

# added from Mathpix project: 

mistralai
anthropic
pinecone-client
nomic
openai
groq
qiskit
gradient
replicate
google-generativeai
cohere
langchain
alpha_vantage
nvidia-ml-py3
huggingface_hub
tavily-python
python-mathpix

sympy
numpy-financial
scikit-learn
tensorflow
torch
transformers
datasets
python-dotenv

python-dotenv
